*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

.idea

# Scalatron
bots/*
